language: java
matrix:
  include:
    - jdk: oraclejdk8
      os:  linux
      env: JAVA_VERSION=1.8
    - jdk: oraclejdk8
      os:  osx
      env: JAVA_VERSION=1.8
    - jdk: oraclejdk9
      os:  linux
      env: JAVA_VERSION=9
    - jdk: oraclejdk9
      os:  osx
      env: JAVA_VERSION=9
    - jdk: openjdk10
      os:  linux
      env: JAVA_VERSION=10
    - jdk: openjdk10
      os:  osx
      env: JAVA_VERSION=10
    - jdk: openjdk11
      os: linux
      env: JAVA_VERSION=11
    - jdk: openjdk11
      os:  osx
      env: JAVA_VERSION=11
install: true
script:
  - ./mvnw clean verify -B
  - bash <(curl -s https://codecov.io/bash)